@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 10px;
  padding: 0px;
}

body {
  background: rgb(255, 255, 255);
  padding: 20px;
  font-size: 18px;

  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h2 {
  text-align: right;
}

h1,
h2 {
  color: rgb(0, 198, 20);
}

p.parrafo {
  color: rgb(43, 43, 43);
  font-size: 22px;
}

p {
  font-size: 24px;
}

p.bold {
  font-size: 25px;
  font-weight: bold;
}

p {
  text-align: initial;
}

a.palabra {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 255, 200);
  text-transform: capitalize;
  text-decoration: none;
  text-align: center;
  padding: 20px;
  display: block;
  width: 200px;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 20px;
  border-radius: 50%;
  height: 200px;
  margin: 0 auto;
  padding-block-end: 0.1%;
  place-content: center;
  border: dotted 15px #000000;
  box-shadow: 20px 10px 0.5;
}